In [5]:
import pandas as pd

df = pd.read_csv("GlobalTemperatures.csv", usecols = ["dt", "LandAverageTemperature"])
df

              dt  LandAverageTemperature
0     1750-01-01                   3.034
1     1750-02-01                   3.083
2     1750-03-01                   5.626
3     1750-04-01                   8.490
4     1750-05-01                  11.573
...          ...                     ...
3187  2015-08-01                  14.755
3188  2015-09-01                  12.999
3189  2015-10-01                  10.801
3190  2015-11-01                   7.433
3191  2015-12-01                   5.518

[3192 rows x 2 columns]